{% extends "layouts/base.html" %}
{% block content %}

{% include 'layouts/slider.html' %}

<section class="pt-80 pb-60" style="background-color:#ebeff2;">


  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="wrapper" id="dynamic-price">
        {% raw %}
        <form action="/get_contact" method="post" class="contact-form" enctype="multipart/form-data">
          <div class="row row-2 mb-30">
            <section>
              <div class="pl-40 pr-20 card">
                <div class="center-line">
                  <a href="#" class="scroll-icon">1</a>
                </div>
                <div class="card-body">
                  <div class="mt-30 mb-40">
                    <h3 class="card-title text-center">ВИБЕРІТЬ ВАШЕ МІСТО:</h3>
                  </div>
                  <div class="row">
                    <div class="form-grp">
                      <span class="badge bg-light btn" v-for="tab in tabs" v-bind:key="tab"
                        v-bind:class="['active', { active: currentTab === tab }]" v-on:click="currentTab = tab">
                        <a href="#step-2" class=""> {{ tab.location }}</a>
                      </span>

                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>


          <!-- <blog-post  v-bind:is="currentTabComponent"></blog-post> -->
          <div class="row row-2 mb-30" id="step-2" v-for="tab in tabs" v-if="tab.id === currentTab.id">
            <section>
              <div class="pl-40 pr-20 card">
                <div class="center-line">
                  <a href="#" class="scroll-icon">2</a>
                </div>
                <div class="card-body">
                  <div class="mt-30 mb-40">
                    <h3 class="card-title text-center">ВИБЕРІТЬ ТАРИФНИЙ ПЛАН:</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover table-sm">
                      <thead class="table-light">
                        <tr :class="{check_1: checked}">
                          <th scope="col"># {{tab.location}}</th>
                          <th scope="col">Швидкість</th>
                          <th scope="col">Ціна</th>
                          <th scope="col">Тариф</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="i in tab.prices">
                          <td>
                            <div class="form-check p-10">
                              <a href="#step-3">
                                <input class="form-check-input" type="radio" name="price_id" @click="Checker">
                              </a>   
                            </div>
                          </td>
                          <td><span>{{i.speed}}</span>мб/с</td>
                          <td><span>{{i.price}}</span>грн/міс</td>
                          <td><span>{{i.name}}</span></td>
                          <td>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row row-2 mb-30" id="step-3" v-if="checked">
            <section>
              <div class="pl-40 pr-20 card">
                <div class="center-line">
                  <a href="#" class="scroll-icon">3</a>
                </div>
                <div class="card-body">
                  <div class="mt-30 mb-40">
                    <h3 class="card-title text-center">ВАШІ ПЕРСОНАЛЬНІ ДАНІ:</h3>
                  </div>

                  <div class="row">

                    <div class="col-md-4">
                        <div class="form-grp">
                            <input name="name" type="text" id="name" autocomplete="off" required>
                            <label for="name">Ім'я</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-grp">
                          <input name="name" type="text" id="name" autocomplete="off" required>
                          <label for="name">Ім'я</label>
                      </div>
                  </div>
                    <div class="col-md-4">
                        <div class="form-grp">
                            <input name="phone" type="number" id="phone" autocomplete="off" required>
                            <label for="phone">Телефон</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-4 mx-auto">
                      <button class="btn btn-primary" type="button" style="text-align:center;">Надіслати</button>
                    </div>
                </div>
                </div>
              </div>
            </section>
          </div>

        </form>
        {% endraw %}
      </div>

    </div>
  </div>

</section>



<script>
  new Vue({

    el: "#dynamic-price",
    data: {
      checked: false,
      currentTab: "0",
      tabs: [
        {
          'id': 0,
          'location': 'Гайсин багатоповерхівки',
          'prices': [
            { 'price_id': 1, 'name': 'Стартовый', 'price': 99, 'speed': 20 },
            { 'price_id': 2, 'name': 'Оптимальный', 'price': 149, 'speed': 50 },
            { 'price_id': 3, 'name': 'Турбо', 'price': 179, 'speed': 100 }
          ]
        },
  
        {
          'id': 1,
          'location': 'Гайсин приватний сектор',
          'prices': [
            { 'price_id': 1, 'name': 'Лайт', 'price': 149, 'speed': 50 },
            { 'price_id': 2, 'name': 'Мега', 'price': 189, 'speed': 100 },
          ]
        },

        {
          'id': 2,
          'location': 'с.Крутогорб',
          'prices': [
            { 'price_id': 1, 'name': 'Макс', 'price': 179, 'speed': 50 },
            { 'price_id': 2, 'name': 'МегаМакс', 'price': 219, 'speed': 100 },
          ]
        },

        {
          'id': 3,
          'location': 'с.Карбівка',
          'prices': [
            { 'price_id': 1, 'name': 'Макс', 'price': 179, 'speed': 50 },
            { 'price_id': 2, 'name': 'МегаМакс', 'price': 219, 'speed': 100 },
          ]
        },
        {
          'id': 4,
          'location': 'с.Куна',
          'prices': [
            { 'price_id': 1, 'name': 'Макс', 'price': 179, 'speed': 50 },
            { 'price_id': 2, 'name': 'МегаМакс', 'price': 219, 'speed': 100 },
          ]
        },
        {
          'id': 5,
          'location': 'с.Кисляк',
          'prices': [
            { 'price_id': 1, 'name': 'Лайт', 'price': 149, 'speed': 50 },
            { 'price_id': 2, 'name': 'Мега', 'price': 189, 'speed': 100 },
          ]
        },

        {
          'id': 6,
          'location': "с. Мар'янівка",
          'prices': [
            { 'price_id': 1, 'name': 'Лайт', 'price': 149, 'speed': 50 },
            { 'price_id': 2, 'name': 'Мега', 'price': 189, 'speed': 100 },
          ]
        },

        {
          'id': 7,
          'location': 'с.Михпйлівка',
          'prices': [
            { 'price_id': 1, 'name': 'Макс', 'price': 179, 'speed': 50 },
            { 'price_id': 2, 'name': 'МегаМакс', 'price': 219, 'speed': 100 },
          ]
        },
      ],
    },
    methods: {
      Checker: function () {
        this.checked = !this.checked;
      }
    },
    computed: {
      currentTabComponent: function () {
        console.log(this.currentTab)
        return "tab-" + this.currentTab.id;
      }
    }
  });
</script>

{% include 'layouts/video.html' %}
{% include 'layouts/shop.html' %}
{% include 'layouts/cta.html' %}
{% include 'layouts/faq.html' %}
{% include 'layouts/blog.html' %}


{% endblock %}