{% extends "layouts/base.html" %}
{% block content %}  

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">

                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домашня</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{about_us}}</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

 <!-- about-area -->
 <section class="about-area pb-60 pt-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-wrap">
                    <img src="{{url_for('static', filename='img/images/about_img01.jpg')}}" alt="">
                    <img src="{{url_for('static', filename='img/images/about_img02.jpg')}}" class="main-img" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-30">
                    <h2 class="title">Ми надаємо найкраще інтернет з'єднання до всесвітної інтернет мережі </h2>
                </div>
                <div class="about-content">
                    <p>Yes! You'll be able to use your T-Mobile Home Internet to connect your computer, phone, and numerous other devices. Gauge your students’ skill level with the initial test and follow their progress.</p>
                    <ul class="about-list">
                        <li>Експертна технічна команда</li>
                        <li>Найкраща мережа</li>
                        <li>5+ Аплінків</li>
                        <li>24/7 Моніторинг роботи мережі</li>
                        <li>Тарифи за розумною ціною</li>
                        <li>Довіряють та рекомендують</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->



<!-- cta-area -->
{% include 'layouts/cta.html' %}
<!-- cta-area-end -->

<!-- experience-area -->
<section class="experience-area pb-80 pt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-0 order-lg-2">
                <div class="progress-video">
                    <img src="{{url_for('static', filename='img/images/in_services_img.jpg')}}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-30">
                    <h2 class="title">У нас найкраща кваліфікована та досвідчена команда</h2>
                </div>
                <div class="experience-content">
                    <div class="progress-item">
                        <span class="title">Technical Skills</span>
                        <div class="progress--bar" data-percentage="90%">
                            <div class="progress-number">
                                <span class="percent"></span>
                            </div>
                            <div class="progress-bg">
                                <div class="progress-fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-item">
                        <span class="title">Customer Support</span>
                        <div class="progress--bar" data-percentage="80%">
                            <div class="progress-number">
                                <span class="percent"></span>
                            </div>
                            <div class="progress-bg">
                                <div class="progress-fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="progress-item">
                        <span class="title">Networking SKills</span>
                        <div class="progress--bar" data-percentage="95%">
                            <div class="progress-number">
                                <span class="percent"></span>
                            </div>
                            <div class="progress-bg">
                                <div class="progress-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- experience-area-end -->
{% endblock %}