{% extends "layouts/base.html" %}
{% block content %}  
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">

                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домашня</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{all_blog_posts}}</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

    <!-- blog-area -->
    <section class="standard-blog-area pt-80 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 col-lg-8 offset-md-2">
                    {% for post in posts %}
                    <div class="standard-blog-item mb-40">
                        <div class="standard-post-thumb">
                            <a href="/post-detail/{{post['id']}}"><img src="{{url_for('static', filename='img/blog/')+post['img_link']}}" alt=""></a>
                        </div>
                        <ul class="blog-post-meta">
                            <li><i class="flaticon-calendar"></i><a href="/post-detail/{{post['id']}}">{{ post['created'] }}</a></li>
                        </ul>
                        <div class="standard-blog-content">
                            <h3 class="title"><a href="/post-detail/{{post['id']}}">{{ post['title'] }}</a></h3>
                            <p>{{ post['short_content'] }}</p>
                            <a href="/post-detail/{{post['id']}}" class="btn transparent-btn">Детальніше</a>
                        </div>
                    </div>
                    {% endfor %}

                  
<!-- 
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li><a href="blog.html#"><i class="far fa-chevron-left"></i></a></li>
                            <li class="active"><a href="blog.html#">01</a></li>
                            <li><a href="blog.html#">02</a></li>
                            <li><a href="blog.html#">03</a></li>
                            <li><a href="blog.html#"><i class="far fa-chevron-right"></i></a></li>
                        </ul>
                    </div> -->


                </div>
                


            </div>
        </div>
    </section>
    <!-- blog-area-end -->
 {% endblock %}      
