 <!-- header-area -->
 <header>
            
    <div class="" style="background-color: black; border-bottom: 1.2px solid #2196f3;">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-md-7 col-sm-7">
                    <div class="header-top-left">
                        <ul>
                            <li class="d-none d-xl-flex"><i class="flaticon-location"></i>23700 Україна, м. Гайсин, 2й пров. 1го Травня, 4</li>
                            <li class="d-none d-lg-flex"><i class="flaticon-email"></i>info@wintele.com.ua</li>
                            <li><i class="flaticon-clock"></i>з 08:00 до 21:00 (без вихідних)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-4">
                    <div class="header-top-right">
                        <ul>
                            <li class="header-user-info" id="LC">
                                <i class="flaticon-businessman"></i>
                                <a href="https://my.wintele.com.ua/" style="color:whitesmoke;font-size:small;">Особистий кабінет</a>
                            </li>
                            <li class="header-social">
                                <a href="/"><i class="fab fa-telegram"></i></a>
                                <a href="/"><i class="fab fa-viber"></i></a>
                                <a target="_blank" href="https://api.2ip.ua/geo.json?ip={{ip}}" title="{{ip_title}}" style="font-size:smaller;">
                                    {{ip_title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-top-fixed"></div>
    <div id="sticky-header" class="menu-area">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav">
                            <div class="logo">
                                <a href="/"><img src="{{url_for('static', filename='img/logo/w_new_logo.png')}}" alt="w_new_logo" width="200%"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <!-- <li class="active menu-item-has-children"><a href="index.html">Домашня</a>
                                        <ul class="sub-menu">
                                            <li class="active"><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/about-us">Про нас</a></li>
                                    <li class="menu-item-has-children"><a href="">Сервіс</a>
                                        <ul class="sub-menu">
                                            <li><a href="/">Додаткові послуги</a></li>
                                            <li><a href="/">Наша робота</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/all-blog-posts">Новини</a></li>
                                    <li><a href="/contact">Контакти</a></li>
                                    <li><a href="https://www.speedtest.net/" target="_blank">speedtest</a></li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-btn"><a href="/contact" class="btn transparent-btn">Підключитись</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <nav class="menu-box">
                            <div class="close-btn"><i class="fal fa-times"></i></div>
                            <div class="nav-logo"><a href="/"><img src="{{url_for('static', filename='img/logo/w_new_logo.png')}}" alt="" title=""></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="/"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="/"><span class="fab fa-telegram"></span></a></li>
                                    <li><a href="/"><span class="fab fa-viber"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->
