 <!-- pricing-area -->
 <section class="pricing-area pt-110 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center mb-50">
                    <h2 class="title" id="price">Тарифні плани</h2>
                </div>
            </div>
        </div>
        <div class="pricing-plan-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="{{url_for('static', filename='img/images/pricing_thumb01.jpg')}}" alt="">
                            <!-- <h3 class="title">Internet For Personal</h3> -->
                            <h3 class="title">Стартовый</h3>
                            <div class="net-speed">
                               <h5>До 20<span>мб/с</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                           <ul class="pricing-list">
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Single Device Uses</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Phone & Computer</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Random IP</li>
                           </ul>
                           <div class="price-wrap">
                               <span>Від</span>
                               <h3 class="price">99 грн<sub>/Міс</sub></h3>
                           </div>
                           <div class="pricing-btn">
                               <a href="/all-price" class="btn btn-link">Всі тарифи</a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="{{url_for('static', filename='img/images/pricing_thumb02.jpg')}}" alt="">
                            <!-- <h3 class="title">Internet For Family</h3> -->
                            <h3 class="title">Оптимальний</h3>
                            <div class="net-speed">
                               <h5>До 50<span>мб/с</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                           <ul class="pricing-list">
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> 20 Devices Allowed</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Phone, Computer & TV</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Random IP</li>
                           </ul>
                           <div class="price-wrap">
                               <span>Від</span>
                               <h3 class="price">149 грн<sub>/Міс</sub></h3>
                           </div>
                           <div class="pricing-btn">
                               <a href="/all-price" class="btn btn-link">Всі тарифи</a>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="{{url_for('static', filename='img/images/pricing_thumb03.jpg')}}" alt="">
                            <!-- <h3 class="title">Internet For Corporate</h3> -->
                            <h3 class="title">Турбо</h3>
                            <div class="net-speed">
                               <h5>До 100<span>мб/с</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                           <ul class="pricing-list">
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Unlimited Devices Allowed</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Any Devices</li>
                               <li><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Fixed IP</li>
                           </ul>
                           <div class="price-wrap">
                               <span>Від</span>
                               <h3 class="price">179 грн<sub>/Міс</sub></h3>
                           </div>
                           <div class="pricing-btn">
                               <a href="/all-price" class="btn btn-link">Всі тарифи</a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing-area-end -->
