	<!-- JS here -->
    <script src="{{url_for('static', filename='js/vendor/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.odometer.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.appear.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.flipster.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jarallax.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>