 <!-- slider-area -->
 <section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg" data-background="{{url_for('static', filename='img/slider/slider_bg01.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="banner-content">
                            <h3 class="title" data-animation="fadeInUp" data-delay=".2s" data-duration="1.2s">Насолоджуйтесь високошвидкісним широкополосним зв'язком</h3>
                            <ul class="slider-services-list">
                                <li data-animation="fadeInUp" data-delay=".4s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt="">Висока швидкість</li>
                                <li data-animation="fadeInUp" data-delay=".6s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt="">Підключення будь-якого пристрою</li>
                                <li data-animation="fadeInUp" data-delay=".8s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Netflix TV Box</li>
                            </ul>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1s" data-duration="1.2s">Підключитись</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg" data-background="{{url_for('static', filename='img/slider/slider_bg02.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="banner-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s" data-duration="1.2s">Enjoy High Speed Broadband</h2>
                            <ul class="slider-services-list">
                                <li data-animation="fadeInUp" data-delay=".4s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> High Speed Bandwidth Connections</li>
                                <li data-animation="fadeInUp" data-delay=".6s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Any Device Connectivity</li>
                                <li data-animation="fadeInUp" data-delay=".8s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Netfix TV Box & Satellite Live TV</li>
                            </ul>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1s" data-duration="1.2s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg" data-background="{{url_for('static', filename='img/slider/slider_bg03.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="banner-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s" data-duration="1.2s">Enjoy High Speed Broadband</h2>
                            <ul class="slider-services-list">
                                <li data-animation="fadeInUp" data-delay=".4s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> High Speed Bandwidth Connections</li>
                                <li data-animation="fadeInUp" data-delay=".6s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Any Device Connectivity</li>
                                <li data-animation="fadeInUp" data-delay=".8s" data-duration="1.2s"><img src="{{url_for('static', filename='img/icons/w_check.png')}}" alt=""> Netfix TV Box & Satellite Live TV</li>
                            </ul>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1s" data-duration="1.2s">Підключитись</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider-area-end -->