<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.flipster.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/flaticon.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/odometer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/price.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>