 <!-- video-area -->
 <section class="video-area video-bg" data-background="{{url_for('static', filename='img/bg/video_bg_r.png')}}" style="max-height:510px;opacity: 0.88;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title mb-40">
                    <h2 class="title" style="color:#ffffff;">ТБ онлайн</h2>
                    <h2 class="title" style="color:#ffffff;">на будь-який смак</h2>
                </div>
                <div class="video-content-wrap">
                    <!-- <p class="s-white-color">
                        We denounce with righteous indignation and dislike men who are so 
                        beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, 
                        that they cannot foresee the pain and trouble.
                    </p> -->
                    <div class="fact-wrap">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="fact-item">
                                    <h4 class="title"><span class="odometer" data-count="4"></span>K</h4>
                                    <p>HD якість</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="fact-item">
                                    <h4 class="title"><span class="odometer" data-count="248"></span>+</h4>
                                    <p>Телеканалів</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="fact-item">
                                    <h4 class="title"><span class="odometer" data-count="25"></span>+</h4>
                                    <p>Mbps мінімальна швидкість</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                
            </div>
        </div>
    </div>
</section>
<!-- video-area-end -->